// Button Component




// Options

$iota-components-button            : true;

$iota-components-button-namespace  : 'button' !default;

$iota-components-button-color      : rgb(255, 255, 255) !default;
$iota-components-button-margin     : 0 !default;
$iota-components-button-padding    : $iota-global-gutter-default !default;
$iota-components-button-border     : none !default;
$iota-components-button-background : rgb(57, 178, 255) !default;




// Helper Local Variables

$iota-components-button-var-button: $iota-global-components-namespace + $iota-components-button-namespace;




// Button Component

.#{$iota-components-button-var-button} {
  display: inline-block;
  @include _iota-generate-unit('margin', null, $iota-components-button-margin);
  @include _iota-generate-unit('padding', null, $iota-components-button-padding);
  font: inherit;
  color: $iota-components-button-color;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: $iota-components-button-border;
  text-decoration: none;
  background: $iota-components-button-background;
}
